<%- include('header') %> 

<div class="bg-dark text-center p-3">
  <div class="text-light text-bold">
    Akutalna cena EURO według NBP: <strong><%= euroPrice %> zł</strong>
  </div>
</div>
<div class="container">

  
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-12 col-md-10 col-lg-8">
      <form action="/searchpart" method="POST">
            <div class="card-body row no-gutters align-items-center">
                
                <!--end of col-->
                <div class="col">
                    <input name="Partnumber" class="form-control form-control-lg form-control-borderless" type="text" placeholder="Szukaj po numerze części">
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <button class="btn btn-lg btn-success" type="submit">Szukaj</button>
                </div>
                <!--end of col-->
            </div>
        </form>
    </div>
    <!--end of col-->
</div>

  <table class="table">
    <thead>
      <tr class="text-center ">
        <th scope="col">NUMER CZĘŚCI</th>
        <th scope="col">CENA W EURO</th>
        <th scope="col">CENA W PLN (NETTO)</th>
        <th scope="col">CENA W PLN (BRUTTO)</th>
        <th scope="col">AKCJA</th>
      </tr>
    </thead>
    <tbody>
      <% if (locals.searchPart) { %>
      <% for (const part of searchPart) { %>
        <tr class="text-center h4">
          <td id="partNumber"><%= part.Part_Number %></td>
          <!-- <td class="eur-price"><%= part.LIST_PRICE  %> EUR</td> -->
          <td class="eur-price"><%= (part.LIST_PRICE + (part.LIST_PRICE * 0.050)).toFixed(2) %> EUR</td>
          <% if (euroPrice == 'brak internetu') { %>
            <td><span id="pln-price">Brak internetu</td>
              <% } else  { %>
                <td><span id="pln-price-netto"><%= ((part.LIST_PRICE + (part.LIST_PRICE * 0.050)) * euroPrice).toFixed(2) %></span> PLN</td>
                <td><span id="pln-price-brutto"><%= (((part.LIST_PRICE + (part.LIST_PRICE * 0.050)) * euroPrice) * 1.23).toFixed(2) %></span> PLN</td>
          <% } %>
          

          <td class="text-center ">
            <button class="btn btn-sm btn-light" onclick=copyPartNumberToClipboard()>Skopiuj <strong>numer częsci</strong></button>
            <button class="btn btn-sm btn-info" onclick=copyPlnNettoToClipboard()>Skopiuj cene <strong>PLN(NETTO)</strong></button>
            <button class="btn btn-sm btn-info" onclick=copyPlnBruttoToClipboard()>Skopiuj cene <strong>PLN(BRUTTO)</strong></button>
          </td>
          
        </tr>
        <% } %>
        <% } %>
    </tbody>
  </table>
</div>
<script>
  function copyPlnNettoToClipboard() {
    let plnPrice = document.querySelector("#pln-price-netto").textContent;

    navigator.clipboard.writeText(plnPrice).then(function() {
      console.log('Async: Copying to clipboard was successful!');
    }, function(err) {
      console.error('Async: Could not copy text: ', err);
    });
  } 
  function copyPlnBruttoToClipboard() {
    let plnPrice = document.querySelector("#pln-price-brutto").textContent;

    navigator.clipboard.writeText(plnPrice).then(function() {
      console.log('Async: Copying to clipboard was successful!');
    }, function(err) {
      console.error('Async: Could not copy text: ', err);
    });
  } 
  function copyPartNumberToClipboard() {
    let partNumber = document.querySelector("#partNumber").textContent.trim();

    navigator.clipboard.writeText(partNumber).then(function() {
      console.log('Async: Copying to clipboard was successful!');
    }, function(err) {
      console.error('Async: Could not copy text: ', err);
    });
  } 
</script>

<%- include('footer') %> 